doctype html
html(lang="ru-ru")
    head
        meta(charset="utf-8")
        title Add News
        link(href="index.css" rel="stylesheet")
    body
        h1 Добавить новость
        form(class="add-news")
            label(for="title") Title
            input(type="text" id="title" name="title")
