doctype html
html(lang="ru-ru")
    head
        meta(charset="utf-8")
        title News App
        link(href="index.css" rel="stylesheet")
    body
        h1 да пошло оно все туды где светит солнце
        p #{message}
        div(class="news")
