doctype html
html(lang="ru-ru")
    head
        meta(charset="utf-8")
        title News App
        link(href="index.css" rel="stylesheet")
    body
        h1 да пошло оно все туды где светит солнце
        a(href="/add") добавить новость
        div(class="news-list")
            each item in news
              div(class='news')
                h2 #{item.title}
                p #{item.content}
                if item.image
                  img(alt='img' :src=item.image)
