body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    background: azure;
    text-align: center;
}

.news {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 150px;
}
.add {
    max-width: 500px;
}
.add-news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    width: 100%;
    background: gold;
    cursor: pointer;
}

.add-news__wrap {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    text-align: start;
}

.add-news__wrap > label {
    min-width: 100px;
    margin-right: 10px;
}

.add-news__wrap > input {
    width: 300px;
}

img {
    max-width: 320px;
}

.news-add_button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background: aqua;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

input:invalid {border-color: red;}
